


#milestone2{
    background: linear-gradient(to right, #A80059, #00C6FE);    
    height: 20rem;
}

#milestone2 h2{
    color: white;
    opacity: 0.5;

}

#milestone2 h1{
    color: white;
    letter-spacing: 20pxpx;
    font-weight: 850;
    text-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
    font-size: 56px;

}

.btn-finish{
    width:35rem;
    height: 4rem;
    font-size: 1.5rem;
}


footer {
    background:#170b30;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

footer .footer-top {
    padding-top: 50px;
    padding-bottom: 40px;
   
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}



footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
    font-size: 0.8em;
    letter-spacing: 1px;
}

footer .social-icons a {
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}


input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--brand);
}