/* MILESTONE - SECTION COM PALAVRAS CHAVES*/

#milestone1{
    height: 60px;
    background-color: #170b30;
}

.benefit {
    animation: slideInFromLeft 2s ease-out;
    display: flex;
    gap: 130px;
    margin-top: -8px;
}

.benefit h1 {
    color: white;
    font-size: 0.8em;
}

.benefit p{
    font-size: 0.7em;
    color: white;
}

/* SERVIÇOS */

#services{
    background-image: linear-gradient(to right, #A80059, #00C6FE);    
}



.service:hover{
    
    box-shadow: 10px 10px 10px rgba(140, 82, 255, 0.3);
    color: black;
    transform:translateX(1.1);
    animation: 1s ease-in-out;
    cursor:pointer;

  
 
}

.service{
    border-radius: 10px;
    margin: auto;
}

.service img {
    width: 70px;
    
}

.service p{
    font-size: 0.6em;
}

.service h6{
    font-size: 0.75em;
    font-weight: 400;
}



@keyframes surgir {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}

/* Aplicando a animação às divs */
.service-title  {
    animation-name: surgir;
    opacity: 0; /* Divs inicialmente invisíveis */
    animation: surgir 1s ease forwards; /* Aplicando a animação com duração de 1 segundo */

}


.bdark{
    background: white;
    border-radius: 20px;
    
}

.divOrçamento h1{

    background:rgba(138, 49, 168, 0.263);  
    padding: 40px;
    margin-top: 100px;
    color: white;
    text-transform: uppercase;
    
    font-weight: 850;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-size:1.2em;

}
