@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
@import url('./firstPage.css');
@import url('./ourServices.css');
@import url('./processProject.css');
@import url('./chooseSection.css');
@import url('./footer.css');
@import url('./projectsSlide.css');
@import url('./modal.css');



:root {
    --brand: #FFFFF;
    --dark: #170B30;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    

}

body {
    font-family: "Raleway", sans-serif;
    color: var(--body);
    line-height: 1.7;
    margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body.modal-open {
    overflow: hidden;
    padding-right: 15px; /* Compensa a largura da barra de rolagem */
  }



  @font-face {
    font-family: 'Montserrat Alt1';
    src: url('../fonts/MontserratAlt1-Bold.woff2') format('woff2'),
         url('../fonts/MontserratAlt1-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#38a92e;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 35px;
    height: 35px;
}


.divider {
    width: 100%; /* Ocupa a largura total da tela */
    height: 35px; /* Defina a altura desejada */
    background: linear-gradient(to right, #FF007A, #7B42FF, #00C9FF); /* Gradiente de cores */
   margin-top: 280px; /* Centraliza horizontalmente */
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}





.divText{
    margin-top: -15px;
}

.containerDicas{
    margin-bottom: 200px;
}
.container{
    animation: fadeIn 0.5s ease-in;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-4 {
    font-weight: 700;
    color: #170B30;
    
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}


/* titulos dos serviços */

.service-title{
    
    transition: width 1s, height 1s, background-color 1s;
  margin: auto;
    
    
}

.service-title h2 {
    color: white;
    opacity: 0.5;
    
}
.service-title h1 {
    color: white;
    letter-spacing: 20pxpx;
    font-weight: 850;
    text-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.em; 
}

.text-brand {
    color: var(--brand) !important;
}


.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 15px !important;
    height: 15px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 0px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
 
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--brand) !important; 
}

.owl-dot.active span{
    background-color: var(--brand) !important;
}



 .divOne h6{
    background-image: linear-gradient(to right, #A80059, #00C6FE);
    display:flex;
    justify-content:center;
    align-items: center;
    /* width: 30rem; */
    border-radius:20px;
    padding: 15px;
    box-shadow: 0px 0px 10px #FFFFFF;
    font-size: 1em;
}



#ptitle{
    font-size: 1.8rem;
}
@media (max-width: 576px) {
    #ptitle {
        font-size: 1.2rem;
    }
}




 




.conditions-section{
    margin: 20px 0;
}
.conditions-section a{
   color: #fff;
   margin: 0 10px;
}


#cont1{
    margin-top: -75px;
}


#buttonInit{
    font-size: 1em;
    font-weight: 700;
    border-radius: 10px;
    border: none;
     background: linear-gradient(to right, #ff007b6b, #7b42ff7f, #00c8ff5d); /* Gradiente de cores */
    width: 300px;
    color: #fcfcfc;
    margin-top: -10px;
    padding:5px;
    box-shadow: 0px 0px 5px rgb(230, 237, 230);

    
}

#buttonInit:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.btn-orç{
    height: 4rem;
    border-radius: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 80px;
}
@media (max-width:992px) {}
    #btnInicio {
        font-size: 2rem;
    }



.intro {
    margin-top: -70px;
margin-bottom: 36px;

text-align: center;}


.intro p {
    max-width: 500px;
}
.intro h6{
    color: var(--brand);
    font-weight: 400;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: -40px;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
}














.service {
    padding: 10px 10px 10px;
    background-color: #fff;
    box-shadow:white;
    width:100%;
    height: 100%;
    cursor:auto;
  
    
}

#containerInfs{
    
}






.brain{
     top: 20%; transform: translateY(-15%)
}






/* CRIAÇÃO DO PROJETO */






@keyframes slidein {
   

    to {
        transform: translateX(0);
      
    }
  }












 

.grid2{
    display:flex;

}






/* POR QUE NOS ESCOLHER */
.chooses{

    background-color: rgba(102, 51, 153, 0.447);
}





#reviews {

    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(../img/bg_banner1.jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}

.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color: var(--brand);
}

.review .stars {
    color: var(--brand);
}

.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.blog-post .content {
    padding: 32px;
}

.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
}




